In [2]:
import pandas as pd

In [3]:
pd.set_option('display.max_columns', 43)
pd.set_option('display.max_rows', 41)

In [4]:
df = pd.read_csv('/home/oldoc/learningDS/iTmP/IT270423.csv')

In [7]:
df.columns

Index(['Unnamed: 0', 'Unnamed: 1', 'F DE NAC.', 'EDAD', 'PESO', 'TALLA', 'SC',
       'SEXO', 'FEVI BP', 'DVITD', 'FEVI TCH', 'INTERFERENCIA', 'S` TRIC. ',
       'AREA AD ', 'AREA VD TD', 'AREA VD TS', 'FAC', 'VD BASAL 4C', 'ORE IT',
       'GMAX.  IT', 'TAPSE', 'ANILLO TRC', 'VC   IT mm', 'PSAP', 'I. MITRAL',
       'I. AO/EAO', 'VD', 'AD', 'VD F.SIST.', 'TIEMPO INT.', 'PR MITRAL',
       'PR AO', 'PR TRICUS.'],
      dtype='object')

In [8]:
df.rename(columns={'Unnamed: 0': 'index1', 'Unnamed: 1': 'hist_clin', 'F DE NAC.': 'nacimiento', 'EDAD': 'edad', 'PESO':'peso', 'TALLA':'talla', 'SC':'sc', 'SEXO':'sexo', 'FEVI BP':'fevibp', 'DVITD':'dvitd', 'FEVI TCH':'fevitch', 'INTERFERENCIA':'interfer', 'S` TRIC. ':'sprimatr', 'AREA AD ':'area_ad', 'AREA VD TD':'area_vd_td', 'AREA VD TS':'area_vd_ts', 'FAC':'fac', 'VD BASAL 4C':'vd_basal_4c', 'ORE IT':'ore_it', 'GMAX.  IT':'gmax_it', 'TAPSE':'tapse', 'ANILLO TRC':'anillo_trc', 'VC   IT mm':'vc_it_mm', 'PSAP':'psap', 'I. MITRAL':'i_mitral', 'I. AO/EAO':'iao_eao', 'VD':'vd', 'AD':'ad', 'VD F.SIST.':'vd_f_sist', 'TIEMPO INT.':'t_int', 'PR MITRAL':'pr_mitral', 'PR AO':'pr_ao', 'PR TRICUS.':'pr_tr'}, inplace=True)

In [12]:
df

,index1,hist_clin,nacimiento,edad,peso,talla,sc,sexo,fevibp,dvitd,fevitch,interfer,sprimatr,area_ad,area_vd_td,area_vd_ts,fac,vd_basal_4c,ore_it,gmax_it,tapse,anillo_trc,vc_it_mm,psap,i_mitral,iao_eao,vd,ad,vd_f_sist,t_int,pr_mitral,pr_ao,pr_tr
0,2,764784,1930.0,93.0,69.0,154.0,1.67,1,NaN,4.7,62.0,1,8.9,41.0,NaN,NaN,NaN,NaN,NaN,13.0,15.0,NaN,NaN,43.0,1.0,NaN,NaN,NaN,NaN,5.0,NaN,1.0,NaN
1,3,395267,NaN,NaN,NaN,153.0,NaN,1,NaN,4.3,66.0,1,10.0,NaN,NaN,NaN,NaN,NaN,NaN,82.0,21.0,NaN,NaN,NaN,NaN,NaN,4.0,3.0,NaN,NaN,NaN,NaN,NaN
2,4,1137397430,1934.0,89.0,53.0,153.0,1.40,1,NaN,NaN,NaN,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,20.0,NaN,NaN,NaN,NaN,NaN,2.0,3.0,1.0,NaN,NaN,NaN,NaN
3,5,923627,1918.0,98.0,NaN,NaN,NaN,2,NaN,4.9,64.0,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,52.0,14.0,NaN,NaN,60.0,1.0,NaN,2.0,NaN,2.0,NaN,NaN,NaN,NaN
4,7,427151,1936.0,87.0,77.0,172.0,NaN,2,NaN,5.7,62.0,1,NaN,47.0,NaN,NaN,NaN,NaN,NaN,40.0,NaN,NaN,NaN,68.0,1.0,NaN,4.0,NaN,NaN,4.0,NaN,NaN,NaN
5,8,645429,1939.0,84.0,59.0,155.0,1.50,1,60.0,4.4,NaN,1,NaN,21.0,NaN,NaN,NaN,NaN,0.70,28.0,21.0,34.0,7.0,37.0,NaN,NaN,2.0,4.0,1.0,7.0,NaN,NaN,NaN
6,9,812277,1932.0,91.0,70.0,160.0,1.73,2,NaN,NaN,NaN,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,13.0,41.0,9.0,55.0,NaN,NaN,1.0,2.0,2.0,NaN,NaN,NaN,NaN
7,10,1286697,1930.0,93.0,65.0,164.0,1.90,2,NaN,5.2,75.0,1,8.0,23.8,35.0,NaN,NaN,4.7,NaN,42.0,13.0,NaN,NaN,53.0,NaN,NaN,2.0,4.0,2.0,5.0,NaN,NaN,NaN
8,11,1211243,NaN,NaN,NaN,NaN,NaN,1,56.0,NaN,NaN,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,39.0,NaN,60.0,NaN,NaN,4.0,3.0,2.0,NaN,NaN,NaN,NaN
9,13,2467350,NaN,NaN,81.0,150.0,NaN,1,NaN,2.5,NaN,1,11.0,NaN,NaN,NaN,40.0,4.5,NaN,NaN,22.0,38.0,NaN,70.0,1.0,NaN,1.0,4.0,1.0,NaN,NaN,NaN,NaN
10,14,1894319,1929.0,94.0,75.0,162.0,1.79,1,55.0,4.5,NaN,1,12.0,16.0,NaN,NaN,NaN,5.0,NaN,47.0,24.0,NaN,NaN,55.0,NaN,1.0,3.0,4.0,1.0,3.0,NaN,1.0,NaN
11,15,1998121,1927.0,90.0,58.0,150.0,NaN,1,NaN,4.7,60.0,1,NaN,18.0,NaN,NaN,NaN,NaN,NaN,47.0,24.0,NaN,NaN,50.0,1.0,NaN,1.0,4.0,1.0,NaN,NaN,NaN,NaN
12,17,1521452,1961.0,62.0,68.0,170.0,1.70,2,62.0,5.2,NaN,1,15.0,31.0,28.0,12.0,56.0,NaN,NaN,46.0,29.0,47.0,6.8,55.0,2.0,NaN,2.0,4.0,1.0,5.0,NaN,NaN,NaN
13,18,365094,1932.0,91.0,90.0,168.0,1.99,2,59.0,5.1,NaN,1,11.0,23.0,NaN,NaN,NaN,NaN,NaN,45.0,19.0,NaN,NaN,38.0,1.0,1.0,1.0,NaN,1.0,NaN,NaN,1.0,NaN
14,19,719489,1960.0,63.0,74.0,150.0,1.69,1,47.0,5.1,NaN,1,8.1,44.0,31.0,23.0,36.0,5.1,0.78,36.0,19.0,52.0,8.0,45.0,1.0,NaN,4.0,4.0,2.0,12.0,NaN,1.0,NaN
15,20,1151869,1947.0,76.0,74.0,170.0,1.90,2,50.0,5.0,NaN,1,11.0,22.0,NaN,NaN,NaN,4.1,NaN,34.0,18.0,NaN,12.0,40.0,NaN,NaN,2.0,2.0,2.0,5.0,NaN,NaN,NaN
16,21,1277917,1933.0,90.0,66.0,158.0,1.60,1,53.0,3.5,NaN,1,13.0,30.0,24.4,11.4,53.0,5.4,1.40,17.0,23.0,49.0,19.0,42.0,NaN,NaN,2.0,4.0,1.0,6.0,NaN,NaN,NaN
17,22,542557,1928.0,95.0,52.0,148.0,1.40,1,65.0,4.7,NaN,1,10.0,26.0,NaN,NaN,NaN,NaN,0.23,55.0,16.0,NaN,9.0,70.0,1.0,NaN,3.0,4.0,2.0,6.0,NaN,NaN,NaN
18,23,849573,NaN,NaN,81.0,176.0,1.90,2,61.0,5.3,NaN,1,8.0,14.0,14.0,10.0,30.0,NaN,NaN,76.0,15.0,45.0,NaN,86.0,NaN,NaN,1.0,1.0,1.0,NaN,1.0,1.0,NaN
19,24,253461,1944.0,79.0,65.0,162.0,1.70,2,50.0,4.6,NaN,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,27.0,NaN,NaN,60.0,1.0,NaN,3.0,4.0,3.0,NaN,NaN,NaN,NaN
20,25,194912,1929.0,82.0,70.0,145.0,1.70,2,51.0,3.5,NaN,1,14.0,29.0,23.0,14.0,39.0,4.5,NaN,52.0,19.0,41.0,NaN,60.0,NaN,NaN,4.0,4.0,3.0,NaN,NaN,NaN,NaN
21,26,649455,1940.0,83.0,45.0,158.0,1.40,1,63.0,4.0,NaN,1,9.3,47.0,24.0,15.0,38.0,4.3,0.62,55.0,17.0,41.0,10.0,70.0,NaN,NaN,4.0,4.0,1.0,NaN,1.0,NaN,NaN
22,27,1769814,1914.0,100.0,80.0,155.0,1.70,1,NaN,4.8,67.0,1,8.2,19.0,13.0,9.0,33.0,NaN,NaN,42.0,7.0,NaN,NaN,46.0,NaN,NaN,3.0,4.0,1.0,2.0,NaN,NaN,1.0
23,28,139236,1958.0,65.0,62.0,166.0,1.68,1,58.0,4.7,NaN,1,13.0,26.0,18.0,10.0,42.0,4.5,NaN,38.0,16.0,NaN,7.4,55.0,NaN,NaN,2.0,4.0,1.0,14.0,NaN,NaN,NaN
24,29,1279866,1949.0,74.0,55.0,152.0,1.50,1,64.0,3.5,NaN,1,5.2,27.0,19.0,11.0,39.0,38.0,NaN,57.0,10.0,NaN,6.5,70.0,NaN,NaN,2.0,3.0,2.0,8.0,1.0,1.0,NaN
25,30,1115455,1947.0,76.0,70.0,160.0,1.70,2,63.0,3.1,NaN,1,9.0,25.0,NaN,NaN,NaN,NaN,NaN,36.0,16.0,NaN,NaN,50.0,NaN,NaN,1.0,3.0,1.0,20.0,NaN,NaN,NaN
26,31,1338112,NaN,NaN,83.0,170.0,1.90,2,68.0,3.2,NaN,1,12.0,21.0,33.0,20.0,38.0,5.6,0.70,39.0,23.0,43.0,16.0,50.0,NaN,NaN,4.0,4.0,1.0,1.0,NaN,NaN,1.0
27,33,1717394,1947.0,76.0,53.0,163.0,1.50,1,61.0,5.0,NaN,1,11.0,22.0,9.2,5.8,36.0,4.7,0.60,35.0,28.0,44.0,NaN,45.0,NaN,NaN,2.0,4.0,1.0,10.0,NaN,NaN,NaN
28,34,1364120,1936.0,87.0,69.0,154.0,1.70,1,53.0,4.0,NaN,1,17.0,NaN,15.0,5.0,63.0,NaN,NaN,35.0,21.0,NaN,NaN,45.0,1.0,NaN,1.0,2.0,1.0,1.0,NaN,NaN,NaN
29,35,1909796,NaN,NaN,76.0,148.0,1.60,1,80.0,NaN,NaN,1,NaN,NaN,NaN,NaN,NaN,NaN,0.64,27.0,NaN,NaN,NaN,41.0,NaN,NaN,1.0,3.0,1.0,NaN,NaN,NaN,NaN
30,36,86761,1940.0,83.0,59.0,155.0,1.50,1,25.0,6.1,NaN,1,7.8,35.0,25.0,16.0,36.0,4.4,NaN,46.0,17.0,NaN,NaN,60.0,NaN,NaN,3.0,3.0,1.0,3.0,1.0,2.0,NaN
31,37,1482383,1955.0,68.0,66.0,150.0,1.60,1,63.0,5.9,63.0,1,7.0,NaN,NaN,NaN,NaN,NaN,NaN,35.0,18.0,43.0,NaN,50.0,NaN,NaN,2.0,2.0,2.0,NaN,NaN,NaN,NaN
32,38,1222066,1957.0,66.0,85.0,160.0,NaN,1,50.0,4.4,NaN,1,6.4,29.0,NaN,NaN,NaN,5.3,1.20,26.0,15.0,NaN,NaN,45.0,NaN,NaN,2.0,4.0,2.0,3.0,NaN,1.0,NaN
33,39,449730,1936.0,87.0,64.0,164.0,1.60,2,56.0,5.0,NaN,1,11.0,44.0,29.0,17.0,42.0,5.5,1.60,43.0,16.0,43.0,16.0,50.0,2.0,NaN,4.0,4.0,1.0,1.0,NaN,NaN,NaN
34,42,613484,1933.0,90.0,58.0,150.0,1.50,1,60.0,4.7,NaN,1,8.4,31.0,NaN,NaN,NaN,4.6,NaN,41.0,20.0,NaN,NaN,61.0,1.0,NaN,2.0,3.0,1.0,NaN,NaN,NaN,NaN

In [ ]:
df.info()

In [ ]:
df.describe()

In [13]:
df.edad.info()

<class 'pandas.core.series.Series'>
RangeIndex: 35 entries, 0 to 34
Series name: edad
Non-Null Count  Dtype
--------------  -----
29 non-null     float64
dtypes: float64(1)
memory usage: 408.0 bytes

In [14]:
df.edad.describe()

count     29.000000
mean      83.172414
std       10.793745
min       62.000000
25%       76.000000
50%       87.000000
75%       91.000000
max      100.000000
Name: edad, dtype: float64

In [15]:
df.peso.describe()

count    32.000000
mean     67.875000
std      10.781555
min      45.000000
25%      59.000000
50%      68.500000
75%      75.250000
max      90.000000
Name: peso, dtype: float64

In [16]:
df.talla.describe()

count     33.000000
mean     158.333333
std        8.076458
min      145.000000
25%      152.000000
50%      158.000000
75%      164.000000
max      176.000000
Name: talla, dtype: float64

In [17]:
df.sc.describe()

count    28.000000
mean      1.658929
std       0.162989
min       1.400000
25%       1.500000
50%       1.685000
75%       1.707500
max       1.990000
Name: sc, dtype: float64

In [18]:
df.fevibp.describe()

count    25.00000
mean     57.32000
std       9.77548
min      25.00000
25%      53.00000
50%      59.00000
75%      63.00000
max      80.00000
Name: fevibp, dtype: float64

In [19]:
df.dvitd.describe()

count    31.000000
mean      4.558065
std       0.828965
min       2.500000
25%       4.150000
50%       4.700000
75%       5.050000
max       6.100000
Name: dvitd, dtype: float64

In [20]:
df.fevitch.describe()

count     8.000000
mean     64.875000
std       4.673252
min      60.000000
25%      62.000000
50%      63.500000
75%      66.250000
max      75.000000
Name: fevitch, dtype: float64

In [21]:
df.sprimatr.describe()

count    26.000000
mean     10.203846
std       2.755864
min       5.200000
25%       8.125000
50%      10.000000
75%      11.750000
max      17.000000
Name: sprimatr, dtype: float64

In [22]:
df.area_ad.describe()

count    25.000000
mean     28.472000
std       9.622176
min      14.000000
25%      22.000000
50%      26.000000
75%      31.000000
max      47.000000
Name: area_ad, dtype: float64

In [23]:
df.area_vd_td.describe()

count    15.000000
mean     22.706667
std       7.797020
min       9.200000
25%      16.500000
50%      24.000000
75%      28.500000
max      35.000000
Name: area_vd_td, dtype: float64

In [24]:
df.area_vd_ts.describe()

count    14.000000
mean     12.800000
std       5.082701
min       5.000000
25%      10.000000
50%      11.700000
75%      15.750000
max      23.000000
Name: area_vd_ts, dtype: float64

In [25]:
df.columns

Index(['index1', 'hist_clin', 'nacimiento', 'edad', 'peso', 'talla', 'sc',
       'sexo', 'fevibp', 'dvitd', 'fevitch', 'interfer', 'sprimatr', 'area_ad',
       'area_vd_td', 'area_vd_ts', 'fac', 'vd_basal_4c', 'ore_it', 'gmax_it',
       'tapse', 'anillo_trc', 'vc_it_mm', 'psap', 'i_mitral', 'iao_eao', 'vd',
       'ad', 'vd_f_sist', 't_int', 'pr_mitral', 'pr_ao', 'pr_tr'],
      dtype='object')

In [26]:
df.fac.describe()

count    15.000000
mean     41.400000
std       9.022195
min      30.000000
25%      36.000000
50%      39.000000
75%      42.000000
max      63.000000
Name: fac, dtype: float64

In [27]:
df.vd_basal_4c.describe()

count    16.000000
mean      6.887500
std       8.309101
min       4.100000
25%       4.500000
50%       4.700000
75%       5.325000
max      38.000000
Name: vd_basal_4c, dtype: float64

In [28]:
df.ore_it.describe()

count    10.000000
mean      0.847000
std       0.419154
min       0.230000
25%       0.625000
50%       0.700000
75%       1.095000
max       1.600000
Name: ore_it, dtype: float64

In [29]:
df.gmax_it.describe()

count    30.000000
mean     42.233333
std      14.462039
min      13.000000
25%      35.000000
50%      41.500000
75%      47.000000
max      82.000000
Name: gmax_it, dtype: float64

In [30]:
df.tapse.describe()

count    32.00000
mean     18.62500
std       4.95626
min       7.00000
25%      15.75000
50%      18.50000
75%      21.25000
max      29.00000
Name: tapse, dtype: float64

In [31]:
df.anillo_trc.describe()

count    14.000000
mean     42.857143
std       4.571772
min      34.000000
25%      41.000000
50%      43.000000
75%      44.750000
max      52.000000
Name: anillo_trc, dtype: float64

In [32]:
df.vc_it_mm.describe()

count    12.000000
mean     10.558333
std       4.237379
min       6.500000
25%       7.300000
50%       9.000000
75%      13.000000
max      19.000000
Name: vc_it_mm, dtype: float64

In [33]:
df.psap.describe()

count    33.000000
mean     54.090909
std      11.347807
min      37.000000
25%      45.000000
50%      53.000000
75%      60.000000
max      86.000000
Name: psap, dtype: float64

In [35]:
# find whether columns contain null values
df.isnull().sum()

index1          0
hist_clin       0
nacimiento      6
edad            6
peso            3
talla           2
sc              7
sexo            0
fevibp         10
dvitd           4
fevitch        27
interfer        0
sprimatr        9
area_ad        10
area_vd_td     20
area_vd_ts     21
fac            20
vd_basal_4c    19
ore_it         25
gmax_it         5
tapse           3
anillo_trc     21
vc_it_mm       23
psap            2
i_mitral       22
iao_eao        33
vd              1
ad              4
vd_f_sist       3
t_int          15
pr_mitral      31
pr_ao          27
pr_tr          33
dtype: int64

In [36]:
df.columns

Index(['index1', 'hist_clin', 'nacimiento', 'edad', 'peso', 'talla', 'sc',
       'sexo', 'fevibp', 'dvitd', 'fevitch', 'interfer', 'sprimatr', 'area_ad',
       'area_vd_td', 'area_vd_ts', 'fac', 'vd_basal_4c', 'ore_it', 'gmax_it',
       'tapse', 'anillo_trc', 'vc_it_mm', 'psap', 'i_mitral', 'iao_eao', 'vd',
       'ad', 'vd_f_sist', 't_int', 'pr_mitral', 'pr_ao', 'pr_tr'],
      dtype='object')

In [42]:
df[['i_mitral','iao_eao']]

    i_mitral  iao_eao
0        1.0      NaN
1        NaN      NaN
2        NaN      NaN
3        1.0      NaN
4        1.0      NaN
5        NaN      NaN
6        NaN      NaN
7        NaN      NaN
8        NaN      NaN
9        1.0      NaN
10       NaN      1.0
11       1.0      NaN
12       2.0      NaN
13       1.0      1.0
14       1.0      NaN
15       NaN      NaN
16       NaN      NaN
17       1.0      NaN
18       NaN      NaN
19       1.0      NaN
20       NaN      NaN
21       NaN      NaN
22       NaN      NaN
23       NaN      NaN
24       NaN      NaN
25       NaN      NaN
26       NaN      NaN
27       NaN      NaN
28       1.0      NaN
29       NaN      NaN
30       NaN      NaN
31       NaN      NaN
32       NaN      NaN
33       2.0      NaN
34       1.0      NaN

In [44]:
df.vd.isnull().sum()

1

In [46]:
df.vd.value_counts()

2.0    13
4.0     8
1.0     8
3.0     5
Name: vd, dtype: int64

In [48]:
df.ad.isnull().sum()

4

In [49]:
df.ad.value_counts()

4.0    18
3.0     8
2.0     4
1.0     1
Name: ad, dtype: int64

In [52]:
df.vd_f_sist.isnull().sum()

3

In [53]:
df.vd_f_sist.value_counts()

1.0    20
2.0    10
3.0     2
Name: vd_f_sist, dtype: int64

In [47]:
df.t_int.describe()

count    20.00000
mean      6.05000
std       4.82837
min       1.00000
25%       3.00000
50%       5.00000
75%       7.25000
max      20.00000
Name: t_int, dtype: float64

In [54]:
df.pr_mitral.isnull().sum()

31

In [55]:
df.pr_mitral.value_counts()

1.0    4
Name: pr_mitral, dtype: int64

In [56]:
df.pr_ao.isnull().sum()

27

In [57]:
df.pr_ao.value_counts()

1.0    7
2.0    1
Name: pr_ao, dtype: int64