# Exercise: Analyze Data
- Load Analyze-Sales-Data.xlsx file
- Find the average monthly sales of Jackets
- Find the maximum sales of a product in September

In [14]:
import pandas as pd

# Read the Excel file
df = pd.read_csv('Presentation-Data.csv')
display(df)

        Month   Product  Sales
0     January  T-shirts   3712
1     January  Sweaters  34287
2     January     Jeans  23786
3     January   Jackets  21876
4        June  T-shirts   7843
5        June  Sweaters   1347
6        June     Jeans  29874
7        June   Jackets   2786
8   September  T-shirts   5239
9   September  Sweaters  21378
10  September     Jeans  29650
11  September   Jackets  34875

In [15]:
# Filter the data to select only one product
jackets_df = df[df['Product'] == 'Jackets']

jackets_df.describe()

              Sales
count      3.000000
mean   19845.666667
std    16140.559790
min     2786.000000
25%    12331.000000
50%    21876.000000
75%    28375.500000
max    34875.000000

In [9]:
jackets_df.Sales.mean()

19845.666666666668

In [10]:
# Filter the data by Month
sept_df = df[df['Month'] == 'September']

sept_df.describe()

              Sales
count      4.000000
mean   22785.500000
std    12950.393675
min     5239.000000
25%    17343.250000
50%    25514.000000
75%    30956.250000
max    34875.000000

In [11]:
sept_df.Sales.max()

34875